* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.season {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.season_title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-decoration: underline;
}

.moment {
    margin-bottom: 2rem;
}

.time {
    font-size: 1.5rem;
    font-weight: 600;
}

.attribute {
    font-size: 1.2rem;
}

#back_button {
    display: inline-block;

    font-size: 1.2rem;

    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

    padding: .5rem;

    border: 1px black solid;
}

#back_button_link:active, #back_button_link:visited, #back_button_link:link {
    color: black;
}
