* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a:link, a:active, a:visited, a:hover {
    color: black;
}

.person {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.name {
    font-size: 1.5rem;
}

#back_button {
    display: inline-block;

    font-size: 1.2rem;

    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

    padding: .5rem;

    border: 1px black solid;
}

#back_button_link:active, #back_button_link:visited, #back_button_link:link {
    color: black;
}
