* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.event_category {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.event_category_title {
    font-size: 2rem;
    font-weight: 600;
}

.season_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.year_title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    border-bottom: 5px darkgreen solid;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.festivals {
    margin-bottom: 2rem;
}

.event_module_title {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 5px red solid;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.festival, .event {
    margin-bottom: 1rem;
}

.text {
    font-size: 1.2rem;
}

#back_button {
    display: inline-block;

    font-size: 1.2rem;

    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

    padding: .5rem;

    border: 1px black solid;
}

#back_button_link:active, #back_button_link:visited, #back_button_link:link {
    color: black;
}
