@import url(https://fonts.bunny.net/css?family=abril-fatface:400|abyssinica-sil:400);

* {
    font-family: 'Abyssinica SIL';
    box-sizing: border-box;
}

.divider {
    background-color: black;
    width: 98%;
    height: 5px;
}

.plant_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plant_item {
    background-color: hsl(0, 0%, 6%, 10%);
    border-radius: 0 10% 10% 0;
    margin-bottom: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.plant_title {
    font-family: 'Abril Fatface';
    font-size: 1.5rem;
}

.plant_cost {
    font-size: 1.2rem;
}

.plant_time {
    font-size: 1.2rem;
}

.plant_special_attribute {
    color: red
}

#back_btn {
    font-size: 1rem;
    margin-left: 1rem;
}
