* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.item {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.profit-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.attribute {
    font-size: 1.2rem;
    display: inline-block;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    border-radius: 10%;
}

.quality_null {
    border: 0.35rem #000000 solid;
}

.quality_basic {
    border: 0.35rem #792d10 solid;
}

.quality_silver {
    border: 0.35rem #c0c0c0 solid;
}

.quality_gold {
    border: 0.35rem #ffd700 solid;
}

.quality_iridium {
    border: 0.35rem #5c2be2 solid;
}

#back_button {
    display: inline-block;

    font-size: 1.2rem;

    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

    padding: .5rem;

    border: 1px black solid;
}

#back_button_link:active, #back_button_link:visited, #back_button_link:link {
    color: black;
}
