* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.category {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.category_title {
    font-size: 1.5rem;
    font-weight: 600;
}

.category_title span {
    padding-bottom: 3px;
    border-bottom: 3px black solid;
}

.item:nth-child(2) {
    margin-top: 1rem;
}

.item {
    margin-bottom: 1rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.price {
    font-size: 1.2rem;
}

#back_button {
    display: inline-block;

    font-size: 1.2rem;

    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;

    padding: .5rem;

    border: 1px black solid;
}

#back_button_link:active, #back_button_link:visited, #back_button_link:link {
    color: black;
}
